src/pug/second.pug
extends layouts/layout

block content

    mixin weapons(className)
        .weapon-block(class=className)
            img(src="img/glock.png")
            .title
                p P2000
                p Oceanic

    mixin nitro-box
        .nitro-box
            .image
                img(src="img/nitro_box.png")
            .details
                p Milspec
                p $0.30


    .page-second
        .nitro-box-preview
            div
                img(src="img/nitro_box.png")
            button.btn.btn-success Open Case $0.30
        .weapons-container-wrapper
            .weapons-container
                - var weapons = ["weapon-block-blue", "weapon-block-yellow", "weapon-block-red","weapon-block-indigo","weapon-block-cyan", "weapon-block-pink", "weapon-block-blue", "weapon-block-yellow", "weapon-block-red"]
                - for(var i = 0; i < weapons.length; i++)
                    +weapons(weapons[i])
        .nitro-box-container
            .title
                p Select a Case
            .nitro-box-list
                - for(var i = 0; i < 3; i++)
                    +nitro-box

build/second.html

<!--
Created by SASi on 11-Aug-16.

--><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nitro App</title>
    <script src="//localhost:9000/livereload.js"></script>
    <script src="https://use.fontawesome.com/a4c68642c6.js"></script>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="/">$213</a></li>
          <li><a href="/">Mike123</a></li>
        </ul>
      </nav>
      <div class="sidebar-left">
              <div class="weapon-block weapon-block-blue"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-yellow"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-red"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-indigo"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-cyan"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-pink"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-blue"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-yellow"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
              <div class="weapon-block weapon-block-red"><img src="img/glock.png">
                <p>P2000</p>
                <p>Oceanic</p>
              </div>
      </div>
      <div class="container-content-wrapper">
        <div class="container-content">
          <div class="page-second">
            <div class="nitro-box-preview">
              <div><img src="img/nitro_box.png"></div>
              <button class="btn btn-success">Open Case $0.30</button>
            </div>
            <div class="weapons-container-wrapper">
              <div class="weapons-container">
                          <div class="weapon-block weapon-block-blue"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-yellow"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-red"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-indigo"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-cyan"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-pink"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-blue"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-yellow"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
                          <div class="weapon-block weapon-block-red"><img src="img/glock.png">
                            <div class="title">
                              <p>P2000</p>
                              <p>Oceanic</p>
                            </div>
                          </div>
              </div>
            </div>
            <div class="nitro-box-container">
              <div class="title">
                <p>Select a Case</p>
              </div>
              <div class="nitro-box-list">
                          <div class="nitro-box">
                            <div class="image"><img src="img/nitro_box.png"></div>
                            <div class="details">
                              <p>Milspec</p>
                              <p>$0.30</p>
                            </div>
                          </div>
                          <div class="nitro-box">
                            <div class="image"><img src="img/nitro_box.png"></div>
                            <div class="details">
                              <p>Milspec</p>
                              <p>$0.30</p>
                            </div>
                          </div>
                          <div class="nitro-box">
                            <div class="image"><img src="img/nitro_box.png"></div>
                            <div class="details">
                              <p>Milspec</p>
                              <p>$0.30</p>
                            </div>
                          </div>
              </div>
            </div>
          </div>
          <div class="sidebar-right">
            <div class="header">
              <!--i.fa.fa-angle-right-->
              <p>My Backpack</p>
            </div>
            <div class="backpack-container">
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
              <div class="weapon-block weapon-block-pink">
                <div class="price-info">
                  <div class="info">Sold</div>
                  <div class="price">$21</div>
                </div><img src="img/glock.png">
                <div class="title">
                  <p>P2000</p>
                  <p>Oceanic</p>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="value">
                <p><span>Selected Value</span><span class="badge">$123.00</span></p>
              </div>
              <div class="button-group">
                <button class="btn btn-success">SELL</button>
                <button class="btn btn-primary">Withdraw</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; 2016 Nirto GG. All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
